{% extends "pizzas/base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'myfirst.css' %}">

<p style="font-size:40px">Wright Pizza: We got all the pizza</p>

<p> ------------------------------------- </p>

<p> Click the Pizza tab at the top of your screen to see our wonderful
    selections of artisan pizzas.
 </p>

 <p> --------------------------------------------------- </p>

 <p>
    Wright Pizza started in 2022 when the founder,
    Kyle Wright, had a vision to bring wonderful pizzas 
    to the people through a Django website.
 </p>

 <img src="{% static 'home.jpg' %}" class="img-thumbnail" style="max-height: 400px" alt="">

{% endblock content%}