{% extends "pizzas/base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'mysecond.css' %}">

<p> Pizza: {{ pizza }} </p>

<ul>
    {% for t in toppings %}

    <p>-- {{ t.topping_name}} </p>

    {% endfor %}
    
</ul>

<p> Comments: </p>
<ul>
    {% for c in new_comments %}

        <li>{{ c.text }}</li>
        <p> -{{ c.date_added }} </p>

    {%empty%}

    <p>Be the first comment on this pizza</p>

    {% endfor %}

</ul>

    <p><a href="{% url 'pizzas:comment' pizza.id %}"> Add a comment </a></p>

{% endblock content%}