{% extends "pizzas/base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'mysecond.css' %}">

<p> Pizza: {{ pizza }} </p>

<ul>
    {% for t in toppings %}

    <p>-- {{ t.topping_name}} </p>

    {% endfor %}
    
</ul>

    {% for i in image %}
    <div class="col-md-4">
            <img src="{{  i.image.url  }}" class="img-responsive" style="width: 50%; margin-right: 10px;" />
    </div>
    {% empty %}
    <p> There isn't an image for this pizza yet </p>
    {% endfor %}   


<p> Comments: </p>
<ul>
    {% for c in new_comments %}

        <li>{{ c.text }}</li>
        <p> -{{ c.date_added }} </p>

    {%empty%}

    <p>Be the first comment on this pizza</p>

    {% endfor %}

</ul>

    <p><a href="{% url 'pizzas:comment' pizza.id %}"> Add a comment </a></p>

{% endblock content%}